<%- include('./partials/header') %>

   <!--MAIN SECTION-->
   <div class="container-fluid" id="main-sec">
    <div class="row d-block align-center"> 
      <h1>Water Bill <br> Tracker </h1>
         <!-- <button>Register</button>
          <button>Sign In</button> -->
    </div>
 </div>
 <br>
 <!--END OF MAIN SECTION-->

 <!--ABOUT SECTION-->
 <div class="container-fluid" id="About">
   <div class="row d-block align-center" id="wat">
     
    <h2>Water Bill</h2>
     <p>Get access for your latest water bill information and transaction anytime, anywhere. <br> Download any forms related to Public Works Department <a href="/forms">here.</a></p>
     </div>
     <div class="row">
       <div class="col-sm-6" id="vision-img">
         <img src="/img/vission.png" width="300" height="300"> </div>
         <div class="col-sm-6">
           <h3>Vision & Mission</h3>
           <p>Get latest water bill information efficiently.</p>
         </div>
       </div>
     </div>
     


     <div class="row d-block align-center" id="img-img">
       <h2>Water Payment Method</h2>
       <p>There are several water biling counters where public can pay their water bills. <br> Public can also pay their water bills at all post offices and at Banks as BIBD, Baiduri and Standard Chartered.</p>
       <img src="/img/mission.png" id="mission-img">
       </div>

 <!--END OF ABOUT SECTION-->

 <!--CONTACT SECTION-->
 <div class="container-fluid" id="Contact">
   <div class="row d-block align-center">
     <h2>Contact Us</h2>
   </div>


   <div class="row">
     <div class="col-sm-3">
       <h3>Brunei Muara</h3>
       <p>Department of Water Services Building,Tasek Lama</p>
     </div>
       <div class="col-sm-3">
         <h3>Tutong</h3>
         <p>JKR Cawangan Tutong Building</p>
       </div>
         <div class="col-sm-3">
           <h3>Belait</h3>
           <p>Jabatan Kerja Raya Cawangan Kuala Belait</p>
         </div>
           <div class="col-sm-3">
             <h3>Temburong</h3>
             <p>JKR Cawangan Temburong Building</p>
           </div>
   </div>
   <div id="ctc-ctc">
     <h6>Website:<a href="http://www.mod.gov.bn/PWD/Theme/Home.aspx">Public Works Department</a></h6>
   <h6>​​In the case of water disruptions, public are advised to contact the Talian Darussalam Hotline at 123 for water tanker services.</h6>
 </div>
 </div>

 <!--END OF CONTACT SECTION-->
<br>


